.header,.main,.sidemenu,.footer{
  border:1px solid #aaa;
  background-color:red;
}
.header{
  width:100%;
}
.top{
  display:block;
  width:100%;
  background-color:yellow;
  height:500px;
}
.wrapper{
  width:90%;
  margin:30px auto 40px;
}
.main {
  display:block;
  float:left;
  height:500px;
  width:760px;
}
.service{
  float:left;
  width:760px;
  height:500px;
  background-color:yellow;
}
.contact{
  float:left;
  width:760px;
  height:300px;
  background-color:black;
}
.sidemenu{
  float:right;
  height:1300px;
  width:300px;
}
.footer{
  height:100px;
  width:100%;
}

.clearfix::after{
  content:'';
  display:block;
  clear:both;
}
.bar{
  height:40px;
  padding: 0.5em;
}
.new{
  background:#00FF3B;
}
.b-service{
  background:#005FFF;
}
.infomation{
  background:#5f9ea0;
}

/* --------------------------------
 * sidemenu
 * -------------------------------- */
.ranking {
  margin-bottom: 30px;
  list-style-type: none;
  counter-reset: ranking;
}
.ranking .ranking-item {
  margin-top: 15px;
}
.ranking .ranking-item a {
  display: block;
  font-size: 0;
  transition: opacity 0.15s;
}
.ranking .ranking-item a:hover {
  opacity: 0.8;
}

.card,.card-action{ 
  width:200px;
  height:300px;
}
